@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font-size: large; */
}

.skills {
  /*background-color: #afefaf;*/
  /*padding:3px;*/
  font-weight: bold;
  /*transform: skewX(-10deg);*/
  /*display: inline-block;*/
}
body {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
}

hr {
  border: 0.5px solid gainsboro;
}

.duties {
  list-style-type: circle;
}
header {
  background-color: #795548;
  color: white;
  padding: 25px;
  width: 100vw;
}

header h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 500;
  font-variant: small-caps;
}

main {
  display: grid;
  grid-template-columns: 70vw auto;
  grid-column-gap: 40px;
  padding: 0px 10px;
}

li {
  margin: 8px 0px;
}

.experience-grid {
  display: grid;
  grid-template-columns: 20vw auto;
  margin-top: 10px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.main-section,
.experience,
.education,
.certification,
.courses {
  margin: 15px 0px;
  text-align: justify;
  line-height: 23px;
}

.experience > p,
.education > p,
.certification > p,
.courses > p,
#nav-headings {
  color: #795548;
  font-family: "Montserrat", sans-serif;
  font-variant: small-caps;
  font-weight: 600;
  margin: 15px 0px;
}

aside > h5 {
  margin: 10px 0px;
}

span {
  text-align: right;
  line-height: 25px;
}

.projects p {
  margin-top: 5px;
}
ul p,
div p,
article p,
nav p {
  font-weight: 500;
}

.experience-grid {
  grid-gap: 20px;
}

img {
  max-width: 100px;
  margin: 0px auto;
  display: block;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0px;
}

.desc-details {
  font-style: italic;
  font-size: small;
}
@media (max-width: 730px) {
  img {
    display: none;
  }
  main {
    grid-template-columns: auto;
  }
}
