@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font-size: large; */
}

:root {
  --primary-color: #795548;
  --secondary-color: #f5f5f5;
  --text-color: #333;
  --link-color: #1a73e8;
}

body {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
}

hr {
  border: 0.5px solid gainsboro;
}

.duties {
  list-style-type: circle;
}

header {
  /* background-color: #795548; */
  color: var(--primary-color);
  padding: 25px;
  width: 100vw;
  border-bottom: 0.1px dotted var(--primary-color);
}

header h3 {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-size: x-large;
  font-weight: 500;

  /* font-variant: small-caps; */
}

main {
  display: grid;
  grid-template-columns: 70vw auto;
  grid-column-gap: 40px;
  padding: 0px 10px;
  margin: 15px 15px;
  text-align: justify;
  line-height: 23px;
}

li {
  margin: 8px 0px;
}

.section-grid {
  display: grid;
  grid-template-columns: 20vw auto;
  margin-top: 10px;
  grid-gap: 20px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.experience,
.education,
.certification,
.courses {
  margin: 15px 0px;
}

.details > p {
  margin: 10px 0px;
}

.sub-headings {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-variant: small-caps;
  font-weight: 600;
  margin: 15px 0px;
}

.personal-info > h4,
.skills > h4 {
  margin: 5px 0px;
}

.desc-details {
  font-style: italic;
  font-size: small;
}
@media (max-width: 730px) {
  main {
    grid-template-columns: auto;
  }
}
